@{
    ViewBag.Title = ViewBag.Estado == ConstantHelpers.EstadoActivo ? "Desactivar" : "Activar" + " departamento";
    Layout = ConstantHelpers.Layout.MODAL_LAYOUT_PATH;
    ViewBag.Form = new ModalFormHelpers("ActDeactDepartamento", "Departament", new { DepartamentoId = ViewBag.DepartamentoId, EdificioId = ViewBag.EdificioId }, FormMethod.Post);
}

¿ Está seguro que desea realizar esta operación ?

@section Footer
{
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i>&nbsp;&nbsp;Confirmar</button>
}


