@{
    ViewBag.Title = "Eliminar trabajador";
    Layout = ConstantHelpers.Layout.MODAL_LAYOUT_PATH;
    ViewBag.Form = new ModalFormHelpers("DeleteTrabajador", "Employee", new { TrabajadorId = ViewBag.TrabajadorId, EdificioId = ViewBag.EdificioId }, FormMethod.Post);
}

¿ Esta seguro que desea eliminar este registro ?

@section Footer
{
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i>&nbsp;&nbsp;Confirmar</button>
}


