@model VEH.Intranet.ViewModel.Income.AddEditIngresoViewModel
@{
    ViewBag.Title = (Model.IngresoId != null ? "Editar" : "Agregar") + " ingreso";
    Layout = ConstantHelpers.Layout.MODAL_LAYOUT_PATH;
    ViewBag.Form = new ModalFormHelpers("AddEditIngreso", "Income", FormMethod.Post);
}

@Html.HiddenFor(x => x.EdificioId)
@Html.HiddenFor(x => x.IngresoId)
<div class="form form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label">Unidad de tiempo</label>
        <div class="col-md-6">
            @Html.DropDownListFor(x => x.UnidadTiempoId, Model.LstComboUnidadTiempo, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.UnidadTiempoId)
        </div>
    </div>
</div>

@section Footer
{
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i>&nbsp;&nbsp;Confirmar</button>
}

