
@{
    ViewBag.Title = (ViewBag.Estado == ConstantHelpers.EstadoInactivo ? "Activar" : "Desactivar") + " cuota";
    Layout = ConstantHelpers.Layout.MODAL_LAYOUT_PATH;
    ViewBag.Form = new ModalFormHelpers("ActDeactCuota", "Fee", new { CuotaId = ViewBag.CuotaId, DepartamentoId = ViewBag.DepartamentoId, EdificioId = ViewBag.EdificioId }, FormMethod.Post);
}

¿ Esta seguro que desea realizar esta operación ?

@section Footer
{
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i>&nbsp;&nbsp;Confirmar</button>
}


