@model VEH.Intranet.ViewModel.Building.CargaMasivaViewModel
@{
    ViewBag.Title = "Carga masiva";
}

<form method="post" enctype="multipart/form-data">
    @Html.EditorFor(x=>x.Archivo)
    <input type="submit" title="Clic" />
</form>


