
@{
    ViewBag.Title = "Eliminar noticia";
    Layout = ConstantHelpers.Layout.MODAL_LAYOUT_PATH;
    ViewBag.Form = new ModalFormHelpers("DeleteNoticia", "News", new { GastoId = ViewBag.NoticiaId }, FormMethod.Post);
}

¿ Esta seguro que desea eliminar este registro ?

@section Footer
{
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i>&nbsp;&nbsp;Confirmar</button>
}


