
@{
    ViewBag.Title = "Detalle";
    Layout = ConstantHelpers.Layout.MODAL_LAYOUT_PATH;
    //ViewBag.Form = new ModalFormHelpers("DeleteNoticia", "News", new { GastoId = ViewBag.NoticiaId }, FormMethod.Post);
}

@Html.Raw(ViewBag.Detalle.ToString())

@section Footer
{
    @*<button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i>&nbsp;&nbsp;Confirmar</button>*@
}


