@model VEH.Intranet.ViewModel.User._ForgotPasswordViewModel
@{
    ViewBag.Title = "Recuperar Contraseña";
    Layout = ConstantHelpers.Layout.MODAL_LAYOUT_PATH;
    ViewBag.Form = new ModalFormHelpers("_ForgotPassword", "User", FormMethod.Post, new { id = "modal-form" });
}

<strong>Ingrese su correo electrónico para recibir un mensaje con sus credenciales de acceso.</strong><br /><br />
<div class="form-group">
    @Html.LabelFor(x => x.Email)
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", required = true })
    @Html.ValidationMessageFor(x => x.Email)
</div>

@section Footer{
    <button type="submit" class="btn btn-sm btn-primary" id="btn-modal-aceptar"><i class="fa fa-check"></i>&nbsp;&nbsp;Confirmar</button>
}

<script>
        $('#modal-form').on('submit', function () {
            $('#btn-modal-aceptar').attr('disabled', true);
        });
</script>