@model VEH.Intranet.ViewModel.Control.AddEditUsuarioPermisoViewModel
@{
    ViewBag.Title = "Permiso Edificio";
}
@section Breadcrumbs{
    
}

<div>
    <div>
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-list"></i>&nbsp;&nbsp;Listado Edificio</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-sm-2 text-center">Nombre</th>
                                <th class="col-sm-2 text-center">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LstEdificio)
                            {
                                <tr>
                                    <td>@item.Nombre</td>
                                    <td class="text-center">
                                        <a class="btn btn-default" href="@Url.Action("EliminarEdificioPermiso","Control",new {UsuarioId = Model.UsuarioId, EdificioId = item.EdificioId})"><i class="fa fa-trash"></i> Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-sm btn-primary" href="#" @Data.ModalLink("AddEdificioPermiso", "Control",new { UsuarioId = Model.UsuarioId})><i class="fa fa-plus"></i>&nbsp;Agregar Edificio</a>